<div class="container">

<h1 class="display-4 row justify-content-center">Edit Posts</h1>

<%= form_with scope: :post, model: @post, local: true do |form| %>
  <div class="form-group mt-5" style="width: 50%; margin: 0 auto">

 
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
    
    <p>
      <%= form.label :img_url%><br>
      <%= form.text_field :img_url %>
    </p>
   
    <p>
      <%= form.label :description%><br>
      <%= form.text_field :description  %>
    </p>

    <p>
    <%= form.label :rating  %><br>
    <%= form.number_field :rating, max: 5,min: 1%>
    </p>
    
  	<%= form.collection_select :category_id, @categories, :id, :cusines %>

    <p>
    <%= form.submit "Save Posts", class: "btn btn-primary" %>
    </p>

<% end %>
<%= link_to 'Back', root_path, {:class => "btn btn-outline-primary"}  %>

</div>

