<div class="container">

<h1 class="display-4 row justify-content-center">All Posts</h1>

  <div class="active-pink-3 active-pink-4 mb-4">
  <%= form_tag posts_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search],placeholder: "Search Posts" %>
    <%= submit_tag "Search" %>
    <% end %>
    </div>


  <% if user_signed_in? %>

 
  <% end %>

    <div class="card-columns" style="width: 80%; margin: 0 auto;">
      <% @post.each do |post| %>
        <% time = post.created_at.localtime(utc_offset = nil) %>
        <div class="card text-center ">
          <img class="card-img-top" alt="image pin" src=<%= post.cloud_url %> >
          <div class="card-body">
            <h4 class="card-title"><%= post.title %></h4>
            <h5 class="card-title"><%= post.description %></h5>
            <h6 class="card-title"><%= post.category.cusines %></h6>
          <div class="star-rating">
              <% post.rating.to_i.times do  %>
                <span>⭐</span>
              <% end %>
                <% @reviews.select{|review| review.post_id == post.id}.each do |review|%>
                  <h5><%= review.comments %></h5>
                <%end%>
          </div>

            <footer class="blockquote-footer">Created at: <cite title="Source Title"><%= time.strftime("%B:%e %Y") %></cite></footer>
        <% if post.user_id != current_user.id%>
          <% url = "/posts/"+post.user_id.to_s%>
          <footer class="blockquote-footer">Posted by: 
           
              <%= link_to @user.where(id: post.user_id)[0].username, user_path(post.user_id) %>
            
          </footer>
        <% end %>

          </div>

          <div class="card-body">
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to 'Show', post_path(post), {:class => "btn btn-sm btn-dark"} %>
    
            </div>
          </div>
        </div>
      <% end %>
  
</div>
