<div class="new-post-container">
	<h1 class="display-4 new-post-text">New Post</h1>
	<%= form_with scope: :post, url: posts_path, local: true do |form| %>
	<div class="form-group mt-5" style="width: 50%; margin: 0 auto">

		<p>
			<%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>

    <p>
    	<%= form.file_field :cloud %>
    </p>

    <p>
    	<%= form.label :description  %><br>
    	<%= form.text_area :description%>
    </p>

    <p>
    	<%= form.label :rating  %><br>
    	<%= form.number_field :rating, max: 5,min: 1%>
    </p>

    <div><%= form.collection_select :category_id, @categories, :id, :cusines %></div>

    <p>
    	<%= form.submit "Save Posts", class: "btn btn-primary" %>
    </p>
  </div>
  <% end %>
</div>