<%= form_with scope: :post, url: posts_path, local: true do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>

    <p>
    <%= form.label :img_url %><br>
    <%= form.text_area :img_url%>
    </p>

    <p>
    <%= form.label :description  %><br>
    <%= form.text_area :description%>
    </p>

    <p>
    <%= form.label :category  %><br>
    <%= form.text_area :category %>
    </p>
  
    <p>
      <%= form.submit %>
    </p>
  <% end %>
  