<div class="card col-6" >
	<div class="card-body title-body">
		<h5 class=“card-title”><%= @post.title %></h5>
	</div>
	<div class="card-body">
	  <img class="card-img-top" alt="image pin" src=<%= @post.img_url %> >
	  <h6 class=“card-title”><%= @post.description %></h6>
	  <h6 class=“card-title”><%= @post.category.cusines %></h6>
	  <div class="star-rating">
	  	<% @post.rating.to_i.times do  %>
			<span>⭐</span>
			<% end %>
		</div>
	  <p class="card-text"><small class="text-muted"><% time = @post.created_at.localtime(utc_offset = nil) %></small></p>
	</div>

	<% p "QQQQQQQQQQQQQQQQQQQQQQQQQQ" %>
	    <% p @reviews %>
	    <% p @post %>
	<% p "QQQQQQQQQQQQQQQQQQQQQQQQQQ" %>
	<% p "QQQQQQQQQQQQQQQQQQQQQQQQQQ" %>
	<% p current_user.id %>
	<% p "QQQQQQQQQQQQQQQQQQQQQQQQQQ" %>
</div>

<div class="show-scrollbar">
	<h5>Comments</h5>
  <div class="show-comments">
		<% @reviews.each do |review|%>
		<% p "AAAAAAAAAAAAA" %>
		<% p review.user_id %>
		<% p "AAAAAAAAAAAAA" %>
    <h6><%= review.user.username %></h6>
    <p><%= review.comments %></p>
    <% if current_user.id === review.user_id  %>
    <%= link_to 'Delete', [review.post, review], method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
          <% end %>
            </div>
           </div>


<%= form_with model: [@post, @review], local: true do |form| %>  <p>
    <%= form.label :comments %><br>
    <%= form.text_area :comments, :class => 'form-control ' %>
  </p>

  <p>
    <%= form.submit 'Add a Comment', :class => 'btn btn-outline-success btn-lg' %>
  </p>
<% end %>


<div class="text-center mb-5">
<%= link_to 'Back', root_path, {:class => "btn btn-outline-secondary"} %>
	<% if @post.user_id == current_user.id%>
		<%= link_to 'Edit Post', edit_post_path(@post), {:class => "btn btn-outline-primary"} %>
		<%= link_to 'Delete Post', post_path(@post), :class => "btn btn-outline-warning",
		method: :delete,
		        data: { confirm: 'Are you sure?' } %>
	<% end %>
</div>


</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <img src="..." class="card-img-top" alt="...">
</div>